body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form#inputarea {
  padding:8px;
  background:#bbb;
  margin:0;
}

form#inputarea input {
  height:30px;
  border:0;
  margin:0;
  padding:0 5px 0 5px;
}

form#inputarea input[type=submit] {
  height:30px;
  border:#fff 1px solid;
  margin:0;
  padding:0 10px 0 10px;
  background:#ddd;
  text-align:center;
  vertical-align:middle;
}

form#inputarea input[type=submit]:hover {
  background:#aaa;
  border:#000 1px solid;
  color:#fff;
}

form#inputarea input[type=submit]:active {
  background:#000;
  border:#fff 1px solid;
  color:#fff;
}

form#inputarea span {
  position:relative;
  float:right;
  background:#000;
  display:inline-block;
  font-weight:bold;
  height:30px;
  line-height:30px;
  padding: 0 10px 0 10px;
  text-shadow:rgba(255,255,255,0.75) 0px 0px 5px;
  font-family: 'Courier New' monospace;
}

div#chat {
  padding:0 8px 0 8px;
}

div#chat p {
  border-bottom:#eee 1px dotted;
  margin:0;
  padding: 10px 0 10px 0;
}
